html, body {
    width: 100%;
    margin: 0;
    padding: 0;
    background: #7bd2d9;        
    font-family: Tahoma;
}

#root {
    margin: 0 auto;
    margin-top: 20px;
}

.grid {
    position: relative;
}

.playground {
    position: relative;
    border-radius: 10px;
    user-select: none;
    background: #7bd2d9 url(../images/back-fix.jpg) no-repeat;
    background-size: 100%;
    box-shadow: 0 0 30px 30px rgba(255, 255, 255, 0.2);
}

.container { 
    position: absolute;
    perspective: 200px;
}

.card {
    width: 100%;
    height: 100%;
    border-radius: 3px;
    position: absolute;

    transform-style: preserve-3d;
    transition: transform 1s;
} 

.card figure {
    margin: 0;
    display: block;
    position: absolute;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.active .card figure:after {
    content: "";
    display: block;
    border-radius: 4px;
    border: 2px solid #ef5350;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-sizing: border-box;
}

.card .front {
    background-repeat: no-repeat;
    background-size: cover;
}

.card .back {
    background-repeat: no-repeat;
    background-size: cover;
    transform: rotateY( 180deg );
}

.card.flipped {    
    transform: rotateY( 180deg );
}

.player {
    position: absolute;
    z-index: 200;
    opacity: 0.9;
    transition: left 0.5s, top 0.5s;    
}

.player-image {
    border: 1px solid #fff;
    background: #d32f2f;
    color: #fff;
    display: block;
    text-align: center;
    line-height: 20px;
    border-radius: 20px;
    width: 20px;
    height: 20px;
    margin-left: -10px;
    margin-top: -10px;
    top: 50%;
    left: 50%;
    position: absolute;
}


#info {
    position: absolute;
    top: 10px;
    left: 5px;
    z-index: 1000;
    padding: 5px;
}

.player-info {
    _opacity: 0.5;
    padding-left: 5px;
    border-left: 4px solid rgba(0, 0, 0, 0);
}

.active-player {
    opacity: 1;
    border-left: 4px solid #ff0000;
}

.info-name {
    display: inline-block;
    margin-left: 5px;
    font-size: 12px;
}

.info-pirate, .info-ship {
    position: relative;
    opacity: 0.3;
    color: #fff;
    width: 25px;
    height: 25px;
    border: 1px solid #000000;
    margin: 3px;
    border-radius: 20px;
    display: inline-block;
    text-align: center;
    line-height: 23px;
}

.status-active {
    opacity: 1;
    border-color: red;
}

.status-wait:after, .status-dead:after, .status-nomove:after {
    content: "";
    display: block;
    font-size: 12px;
    font-weight: bold;
    top: -2px;
    right: -2px;
    color: #fff;
    position: absolute;
    background: #000;
    border-radius: 10px;
    width: 10px;
    height: 10px;
}

.status-wait:after {
    background-color: green;
}

.status-nomove:after {
    background-color: red;
}

.action-list {
    display: none;
}

.action-active {
    display: block;
}

.action-name {
    text-align: center;
}

.player-gold {
    position: absolute;
    top: 5px;
    left: -5px;
    background: gold;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.8);
}

.player-ship {
    position: absolute;
}

.ship-back {
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.4);
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 3px;
    box-sizing: border-box;
}

.gold {
    width: 15px;
    height: 15px;
    box-shadow: 0 0 2px 0 rgba(0 ,0, 0, 0.8);
    background: #FFD600;    
    text-align: center;
    margin: 3px;
    border-radius: 10px;
    position: absolute;
    font-size: 12px;
    bottom: 5px;
    right: 5px;
    line-height: 15px;
}


#actions {
    position: absolute;
    z-index: 1001;
    top: 160px;
    left: 10px
}

#actions button:disabled {
    color: #ccc;
}

#actions button {
    border: none;
    background: #90A4AE;
    padding: 5px 4px;
    margin: 2px 1px;
    color: #fff;
    cursor:pointer;
}

.sidebar {
    position: absolute;
    width: 280px;
    bottom: 0;
    top: 0;
    background: #c0e5e9;
    box-shadow: 0 0 2px 0 rgba(0 ,0 ,0 ,0.3);
}

.gameboard {
    left: 285px;
    right: 0;
    position: absolute;
}

#chat {
    z-index: 1000;
    position: absolute;
    left: 0;
    width: 280px;
    background: #e3fafc;
    top: 295px;
    bottom: 0;
}

.message-input {
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    border: none;
    bottom: 0;
    padding: 4px;
    border-top: 1px solid #3c89a7;
}

.message-user {
    font-size: 12px;
    color: #999;
}

.message-item {
    padding-bottom: 5px;    
}

.message-text {
    font-size: 14px;    
}

.message-list {
    padding: 4px;
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 40px;
    top: 0px;
    box-sizing: border-box;
}

